In [25]:
#connects to mysql and creates database and tables

import config
import mysql.connector
from mysql.connector import errorcode
import requests
import json
#database string
endpoint = config.DatabaseEndpoint
name = config.DatabaseName
password = config.DatabasePassword
port = config.DatabasePort
currentOffset = 50
cnx = mysql.connector.connect(
    host = endpoint,
    user = name,
    passwd = password,
)
cur = cnx.cursor()


#table creation SQL
#TABLE SETUP
TABLES = {}
TABLES['businesses'] ="""
CREATE TABLE businesses (
  id VARCHAR(255) PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  review_count INT,
  rating DECIMAL(10,2),
  price INT, 
  address VARCHAR(255)
)
"""
TABLES['reviews'] ="""
CREATE TABLE reviews (
  id VARCHAR(255) PRIMARY KEY,
  text VARCHAR(5000),
  rating DECIMAL(10, 2),
  time_created DATE,
  user VARCHAR(255)
)
"""

#create database and tables

#create_database(cur, "PizzaPlaces")
#create_tables(TABLES, cur)

#get businness information from yelp

businessKeys = ['id', 'name', 'review_count', 
            'rating', 'price', 'location']


add_business = ("INSERT INTO PizzaPlaces.businesses"
                "(id, name, review_count,"
                "rating, price, address) "
                "VALUES (%s, %s, %s, %s ,%s, %s)")

while currentOffset < 1000 :
    params={'term':'pizza place','location':'Brooklyn NY',
        'limit': 50, 'offset':currentOffset}
    #pull
    data = businessCallGET(params).json()
    #clean
    cleaned_data = cleanData(data, businessKeys)
    #inserts data into the table with the add_business column headers
    insertData(cur, add_business, cleaned_data)
    #increment
    curentOffset += 50

in try block to insert into database
successful

In [20]:
#('sUvoBG8t3eKC7WhJbnro2w', 
#'The Pizza Place', 92, 3.5, 2, '1344 BroadwayHewlett, NY 11557')
cur.execute("""
INSERT INTO PizzaPlaces.businesses
    (id, name, review_count, rating, price, address)
VALUES 
    ('sUvoBG8t3eKC7WhJbnro2w', 'The Pizza Place', 92, 3.5, 2,'1344 BroadwayHewlett, NY 11557')
;
""")
           
       ## cleaned_data[0][2], cleaned_data[0][3], cleaned_data[0][4],
        #cleaned_data[0][5]))

IntegrityError: 1062 (23000): Duplicate entry 'sUvoBG8t3eKC7WhJbnro2w' for key 'PRIMARY'

In [7]:
#creates database
#create database given cursor and name of database
def create_database(cursor, database_name):
    try: #checks if database_name exists
        cursor.execute("USE {}".format(database_name))
    except mysql.connector.Error as err:
        print("Database {} does not exist.".format(database_name))
        #if it doesn't exist, create a new database
        if err.errno == errorcode.ER_BAD_DB_ERROR:
            try:
                cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database_name))
                print("Database {} created successfully.".format(database_name))
                #sets database name to new database
                cnx.database = database_name
            except mysql.connector.Error as err:
                print('Failed creating database: {}'.format(err))
                exit(1)
        else:
            print(err)
            exit(1)

In [8]:
#create tables
#create tables from dictionary
def create_tables(tables, cursor):
    for table_name in tables:
        table_description = tables[table_name]
        try:
            print("Creating table {}: ".format(table_name), end='')
            cursor.execute(table_description)
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print('already exists')
            else:
                print(err.msg)
        else:
            print('OK')

In [9]:
#get business data from Yelp
#connects to yelp api and pulls businesses data

#return json object of data from Yelp
#for businesses
def businessCallGET(args):
    businessEndpoint = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'bearer %s'% config.APIKey}
    return requests.get(businessEndpoint, params=args, headers=headers)

In [23]:
#cleaning the businesses data

def cleanData(dat, keys):
    #loops each business
    clean_set = []
    for i in range(len(dat['businesses'])):
        something = []
        #cleaning loop
        for x in keys:
            try :
                if (x == 'price'):
                    something.append(len(dat['businesses'][i][x]))
                elif (x == 'location'):
                    str_piece = ''
                    if (len(dat['businesses'][i][x]['display_address']) > 0):
                        str_piece = dat['businesses'][i][x]['display_address'][0]
                        if (len(dat['businesses'][i][x]['display_address']) > 1):
                            str_piece += dat['businesses'][i][x]['display_address'][1]
                    else:
                        str_piece = 'null'
                    something.append(str_piece)
                else:
                    something.append(dat['businesses'][i][x])
            except  KeyError:
                #if the key doesn't exist
                something.append('null')
            #we have a single list of one row of data
            
        #return tuple of cleaned data
        #used in cur.execute(columns, data1,data2,etc)
        clean_set.append( (something[0], something[1], something[2],
            something[3], something[4], something[5]) )
    return clean_set

In [24]:
#inserts data into the table with the add_business column headers
def insertData(cursor, column_names, cleaned_data):
        try:
            print('in try block to insert into database')
            cursor.executemany(column_names, cleaned_data)
            print('successful')
        except mysql.connector.Error as err:
            print(err)
            print('\n')
            print('\n')
            print('ERROR DID NOT INSERT')
            print('\n')
            print('\n')
        cnx.commit()

In [7]:
#getting review data
# Create a table for the reviews
def reviewCallGET(id_num):
    reviewEndpoint_base = 'https://api.yelp.com/v3/businesses/'
    reviewEndpoint_end = '/reviews'
    return requests.get(reviewEndpoint_base + id_num + reviewEndpoint_end,headers=headers)

test = 'ysqgdbSrezXgVwER2kQWKA'
# review_params={'id':'ysqgdbSrezXgVwER2kQWKA'}
review_data=reviewCallGET(test).json()
print(review_data)

NameError: name 'headers' is not defined

In [26]:
import pandas as pd
cur.execute("""
SELECT *
FROM PizzaPlaces.businesses
;
""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,id,name,review_count,rating,price,address
0,04xHcYsqA3jCzpsX1Vs8ZQ,Randazzo's Pizzeria,42,3.50,1,"306 Ditmas AveBrooklyn, NY 11218"
1,0ROpM3UcZhprN6dhwK2Hsw,Joe & Pat's Pizzeria,160,4.00,2,"168 1st AveNew York, NY 10009"
2,1_LlUsiW1Pr01MEgv1dWvw,Rocky's & Nicky's Pizzeria,34,3.50,1,"6824 Colonial RdBrooklyn, NY 11220"
3,2Q6-R8l_ecJNPmmHA9iIkA,La Romana Pizzeria,16,4.50,1,"755 Grand StBrooklyn, NY 11211"
4,3rGroJSZlLgL81QsQKukCA,Bravi Ragazzi,104,3.50,2,"570 Putnam AveBrooklyn, NY 11221"
5,5AozkAQKOfRMEodf_FYfww,Sauce and Soda,26,4.00,0,"40 Wyckoff AveBrooklyn, NY 11237"
6,5aU2wWbj78R1k9Bzni8xNA,Madison's Pizzeria,1,5.00,0,"775 Madison StRidgewood, NY 11385"
7,6ECcDYsRgmfv0eKXk-c11Q,La Nonna Krispy Krust Pizza,39,4.50,2,"175 Kent AveBrooklyn, NY 11211"
8,71gTwIVOynPCNOFLEv-bQA,LBK Pizza Napoletana,62,4.50,2,"669 Union StBrooklyn, NY 11215"
9,73HeiHqXlj8bF1GXXBrn1g,Dia,78,4.50,0,"58 2nd AveNew York, NY 10003"
10,9AP2VYXrBiea6KtOwb5xjQ,Philomena's,80,4.50,0,"41-16 Queens BlvdSunnyside, NY 11104"
11,9DPI1WLAOfpiMXxHeQ0swg,Tailfeather,15,5.00,0,"581 Myrtle AveNew York, NY 11205"
12,BnD4rXxjArNd9q5sC8t4uQ,The Longshoreman,46,4.50,0,"215 Columbia StNew York, NY 11231"
13,C86m0qe8jWux2pROtZQAQQ,Brothers Pizza,52,3.50,1,"647 4th AveBrooklyn, NY 11232"
14,dsgzaF4lODoOj1Mu1Cf_bQ,La Casa Bella,243,3.50,2,"2579 Cropsey AveBrooklyn, NY 11214"
15,dvUsg9UFFuUb2rE7RA5tnA,Brado,134,4.00,2,"155 Atlantic AveBrooklyn, NY 11201"
16,EsiXRPpMG4y0d0EbatMFXQ,Slice of Brooklyn Pizzeria,1,5.00,0,"585 Myrtle AveBrooklyn, NY 11205"
17,evhkqaDVxi3LGb39Rw-_Aw,Fazio's,113,4.50,1,"709 Knickerbocker AveBrooklyn, NY 11221"
18,fU22eRTnKLT2C-OFJ6eUGQ,Saraghina,852,4.00,2,"435 Halsey StBrooklyn, NY 11233"
19,g-Wk89t79HQqhXM06sv9Ug,La Nova Brick Oven Pizza,7,4.00,0,"1636 BroadwayBrooklyn, NY 11207"
20,GI02HjwIOpKaDZeQkCxM0g,Mama Rosa's Brick Oven Pizzaria Restaurant,67,4.00,0,"77-09 37th AveJackson Heights, NY 11372"
21,hUjy33SLPaSipQxZ1ume4Q,Roland's,21,4.50,0,"303 West 127th StNew York, NY 10027"
22,iMHRGo-dMBfhSlLoNqajyw,Wegmans - Brooklyn,1,4.00,0,"21 Flushing AveBrooklyn, NY 11205"
23,iSr36HYfNRXvMhjhvP77vA,Archie's Bar & Pizza,334,4.50,2,"128 Central AveBrooklyn, NY 11221"
24,IZ9-5z45wc3Oh_jlnX_Kcg,Giuseppina's,310,4.50,2,"691 6th AveBrooklyn, NY 11215"
25,JSkhEPZC70yPx2I3NHqjqw,Original Pizza,170,3.50,1,"2351 Ralph AveBrooklyn, NY 11234"
26,M-2aF4N8jIewBt3UoYEYJg,Fornino- Greenpoint,211,4.00,2,"849 Manhattan AveBrooklyn, NY 11222"
27,MXDo_8nqUQNY-1NHdi8nSw,Tony's Pizza Spot,47,4.50,1,"431 DeKalb AveBrooklyn, NY 11205"
28,OLS8G_pClL1PuBJcFY-O4g,Not Ray's Pizza,200,4.00,1,"690 Fulton StBrooklyn, NY 11217"
29,PrQwIJvFcXsjxX2q3LfIeg,Prospect Pizza,51,3.50,1,"599 Flatbush AveBrooklyn, NY 11225"
30,puSz9vokrErQOlyx1IrwXA,Singas Famous Pizza,66,3.50,1,"512 Grand StBrooklyn, NY 11211"
31,QJ2HYItJ78Y8-N5advP8Eg,The Pizza Place,63,4.00,1,"92 Main StYonkers, NY 10701"
32,qoBcWhGwlcUsKIQ2nB22vA,Lombardo's of Bay Ridge,123,4.50,2,"279 71st StBrooklyn, NY 11209"
33,Qt2mZHzf4Yx4oAezIWgMWQ,The Sicilian,140,3.00,1,"229 Prospect Park WBrooklyn, NY 11215"
34,qtdR-eDXwbzWQvUzVXQE6w,Ogliastro,180,4.00,2,"784 Washington AveBrooklyn, NY 11238"
35,r9DZ2QaxJXTYx0E3zXaxIA,Ave P Pizza & Deli,1,1.00,0,"395 Brooklyn AveBrooklyn, NY 11223"
36,RlZ2yMb3gHs5Vmze9OEh_Q,Lenny and Johns Pizzeria,204,3.50,1,"2036 Flatbush AveBrooklyn, NY 11234"
37,RqRCx09k0PZ4sZJgOxbAIA,Dough Vale,14,4.50,2,"330 S 3rd StNew York, NY 11211"
38,sjakasdfjsl,pizza2,23,4.00,1,herethere
39,sjakfljsl,pizza1,23,3.00,1,herethere
40,tluWdKIinSkg8pOY1qVVeQ,Square Pizza,2,5.00,0,"37-39 Clintons StNew York, NY 10002"
41,tRVJh8OZl6QuOdsZ1TXGiA,Sergio's Pizza,14,4.00,0,"279 Malcolm X BlvdBrooklyn, NY 11233"
42,TWxs38VmW0O7K3LgT1K8qg,Bklyn Pizza,123,3.50,1,"36 Ralph AveBedford-Stuyvesant, NY 11221"
43,uG9TEehXvAnrMIiXvpH3Vw,Napoli Pizza,45,3.50,1,"2270 Nostrand AveBrooklyn, NY 11210"
44,UuY1QCxWybMF0IMxAYG06w,Emmy Squared - Brooklyn,601,4.00,2,"364 Grand StBrooklyn, NY 11211"
45,VAsueR4O3CMxktcr9O2UGA,Il Forno,1,5.00,0,"3307 Church AveBrooklyn, NY 11203"
46,VrLzehwrDEQ2XGWIaX-BYw,Jerusalem II Pizza,20,3.50,1,"1312 Avenue JBrooklyn, NY 11230"
47,xRiLLXjeM2wOvVTYJH2__A,Barboncino Pizza & Bar,932,4.00,2,"781 Franklin AveBrooklyn, NY 11238"
48,yH6t1JWcwkdWG4CS5KPvow,Adrienne's Pizzabar,1642,4.00,2,"54 Stone StNew York, NY 10004"
49,zHtCLIChaKxqFXfMZQHkMQ,Speedy Romeo,587,4.00,2,"376 Classon AveBrooklyn, NY 11238"
50,ZQJar03Q1n0oWgGA3ip3nw,Screamer's Pizzeria,348,4.00,1,"620 Manhattan AveBrooklyn, NY 11222"
51,ZRN53Cvyvlpt0T4EiLFESg,Frank's Pizza,16,3.00,1,"8025 Flatlands AveBrooklyn, NY 11236"

In [ ]:
#1.
# SELECT name
# FROM PizzaPlaces.businesses
# ORDER BY review_count DESC
#2

In [ ]:
cur.execute('''
DROP TABLE PizzaPlaces.businesses
;
''')
cnx.commit()