In [2]:
import matplotlib.pyplot as plt
from itertools import combinations
from math import exp
from scipy.stats import norm
from statsmodels.formula.api import ols
from scipy import stats
import seaborn as sns
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import warnings
import pickle

file = pd.ExcelFile('NASSAgcensusDownload2017.xlsx')
CandP = pd.read_excel(file, 'Crops and Plants')
SandI = pd.read_excel(file, 'Economics')

In [3]:
df = pd.concat([CandP, SandI], 1)
df.head()

,FIPS,FIPSTEXT,y17_M123_valueText,y17_M123_classRange,y17_M123_valueNumeric,y17_M124_valueText,y17_M124_classRange,y17_M124_valueNumeric,y17_M125_valueText,y17_M125_classRange,...,y17_M073_valueNumeric,y17_M074_valueText,y17_M074_classRange,y17_M074_valueNumeric,y17_M075_valueText,y17_M075_classRange,y17_M075_valueNumeric,y17_M202_valueText,y17_M202_classRange,y17_M202_valueNumeric
0,0,0,14.60,NaN,14.60,26.48,NaN,26.48,-1.63,NaN,...,133363.0,79,NaN,79.0,661,NaN,661.0,400603,NaN,400603.0
1,1001,1001,(D),Less than 5,NaN,2.34,Less than 5,2.34,0.43,Sparse Data,...,96682.0,41,25 - 49,41.0,104,Less than 200,104.0,0,"Less than 50,000",0.0
2,1003,1003,3.12,Less than 5,3.12,7.06,5 - 14,7.06,0.94,Sparse Data,...,136496.0,53,50 - 74,53.0,216,200 - 399,216.0,0,"Less than 50,000",0.0
3,1005,1005,(D),5 - 19,NaN,4.22,Less than 5,4.22,-0.35,Sparse Data,...,87026.0,28,25 - 49,28.0,161,Less than 200,161.0,(D),"Less than 50,000",NaN
4,1007,1007,0.00,Less than 5,0.00,7.65,5 - 14,7.65,(D),Sparse Data,...,68656.0,29,25 - 49,29.0,(D),200 - 399,NaN,0,"Less than 50,000",0.0

In [6]:
test_list = [df['y17_M123_valueText'], df['y17_M123_classRange'], df['y17_M123_valueNumeric']]
tested_df = pd.DataFrame(test_list).T
tested_df

     y17_M123_valueText y17_M123_classRange y17_M123_valueNumeric
0                 14.60                 NaN                  14.6
1                   (D)         Less than 5                   NaN
2                  3.12         Less than 5                  3.12
3                   (D)              5 - 19                   NaN
4                  0.00         Less than 5                     0
...                 ...                 ...                   ...
3075               0.00         Less than 5                     0
3076               0.00         Less than 5                     0
3077               0.00         Less than 5                     0
3078              63.85             40 - 69                 63.85
3079               0.00         Less than 5                     0

[3080 rows x 3 columns]

In [33]:
feature = []
for i in df.columns:
    if 'valueNumeric' not in i:
        feature.append(i)
df = df.drop(columns=feature)

In [93]:
CandP.shape

(3080, 236)

In [94]:
CandP.dropna().shape

(13, 236)

In [101]:
a=list(df['y17_M041_valueNumeric'].dropna(axis=0))
a

[21478.0,
 20586.0,
 13758.0,
 12182.0,
 14584.0,
 7065.0,
 17048.0,
 8983.0,
 6937.0,
 19706.0,
 9410.0,
 10208.0,
 23719.0,
 12894.0,
 7786.0,
 11683.0,
 9311.0,
 6891.0,
 21147.0,
 6789.0,
 6239.0,
 7275.0,
 7100.0,
 10590.0,
 22022.0,
 6621.0,
 8567.0,
 9678.0,
 6269.0,
 13204.0,
 8902.0,
 10687.0,
 11617.0,
 14931.0,
 18090.0,
 8232.0,
 7485.0,
 4407.0,
 9204.0,
 7038.0,
 4474.0,
 16859.0,
 8231.0,
 9435.0,
 11040.0,
 7739.0,
 12832.0,
 5365.0,
 10545.0,
 19132.0,
 13348.0,
 14050.0,
 4522.0,
 13916.0,
 22767.0,
 9297.0,
 11696.0,
 24347.0,
 7562.0,
 15963.0,
 34197.0,
 7782.0,
 13404.0,
 7022.0,
 7437.0,
 29803.0,
 26302.0,
 5923.0,
 20436.0,
 56256.0,
 11870.0,
 24548.0,
 9751.0,
 16371.0,
 21100.0,
 33262.0,
 41567.0,
 14581.0,
 72741.0,
 108785.0,
 84002.0,
 37255.0,
 13841.0,
 60049.0,
 78839.0,
 13018.0,
 20140.0,
 88988.0,
 30649.0,
 38902.0,
 9716.0,
 8209.0,
 4382.0,
 13523.0,
 8144.0,
 7746.0,
 29248.0,
 15328.0,
 17246.0,
 5063.0,
 24096.0,
 9706.0,
 10437.0,
 32044.0,
 3479.0,
 83097.0,
 30244.0,
 23154.0,
 57118.0,
 51201.0,
 8840.0,
 6189.0,
 7529.0,
 12757.0,
 6472.0,
 20615.0,
 7653.0,
 5198.0,
 4741.0,
 15748.0,
 8122.0,
 69342.0,
 32969.0,
 4192.0,
 14899.0,
 37172.0,
 41245.0,
 34748.0,
 19820.0,
 2985.0,
 31850.0,
 4676.0,
 5039.0,
 8551.0,
 44096.0,
 39616.0,
 5226.0,
 7022.0,
 6519.0,
 10415.0,
 5808.0,
 29796.0,
 7354.0,
 41884.0,
 5482.0,
 4671.0,
 41526.0,
 22533.0,
 14821.0,
 23787.0,
 5463.0,
 6589.0,
 5768.0,
 3590.0,
 4577.0,
 5449.0,
 6489.0,
 6829.0,
 4949.0,
 4760.0,
 14332.0,
 47905.0,
 5819.0,
 162839.0,
 28202.0,
 64795.0,
 13614.0,
 77435.0,
 49161.0,
 19878.0,
 12211.0,
 69162.0,
 51084.0,
 24636.0,
 217510.0,
 167616.0,
 152292.0,
 87482.0,
 13776.0,
 27828.0,
 111545.0,
 79903.0,
 32811.0,
 11959.0,
 35770.0,
 79071.0,
 63766.0,
 170293.0,
 78104.0,
 87690.0,
 22087.0,
 152364.0,
 24428.0,
 15457.0,
 43486.0,
 42546.0,
 49672.0,
 62905.0,
 29543.0,
 58805.0,
 36265.0,
 119622.0,
 95757.0,
 57649.0,
 42392.0,
 27246.0,
 23468.0,
 30219.0,
 56629.0,
 45049.0,
 84879.0,
 106462.0,
 41854.0,
 60162.0,
 67120.0,
 9216.0,
 81549.0,
 90915.0,
 118077.0,
 33960.0,
 25993.0,
 13677.0,
 13113.0,
 43014.0,
 23149.0,
 34915.0,
 65300.0,
 24234.0,
 1599.0,
 27630.0,
 56414.0,
 10804.0,
 25305.0,
 15862.0,
 7388.0,
 24322.0,
 35377.0,
 14279.0,
 18556.0,
 7305.0,
 36317.0,
 63124.0,
 36853.0,
 14567.0,
 12625.0,
 6729.0,
 55191.0,
 52808.0,
 30602.0,
 29748.0,
 10290.0,
 8133.0,
 17689.0,
 21600.0,
 18840.0,
 20131.0,
 7456.0,
 17194.0,
 18053.0,
 9758.0,
 6366.0,
 24526.0,
 15199.0,
 40130.0,
 16004.0,
 34160.0,
 8483.0,
 20444.0,
 11277.0,
 24494.0,
 33490.0,
 30665.0,
 32894.0,
 0.0,
 27701.0,
 28434.0,
 10809.0,
 9851.0,
 23277.0,
 32065.0,
 32257.0,
 55728.0,
 22320.0,
 20446.0,
 77619.0,
 18334.0,
 53115.0,
 61381.0,
 14515.0,
 24808.0,
 18085.0,
 18148.0,
 17028.0,
 9125.0,
 16663.0,
 42720.0,
 68680.0,
 17063.0,
 5707.0,
 103303.0,
 12912.0,
 31482.0,
 13826.0,
 34542.0,
 11502.0,
 15162.0,
 22555.0,
 17602.0,
 41218.0,
 59642.0,
 28003.0,
 33680.0,
 36320.0,
 5585.0,
 48851.0,
 16090.0,
 27967.0,
 19840.0,
 33205.0,
 22524.0,
 29618.0,
 64134.0,
 89317.0,
 15577.0,
 40101.0,
 65945.0,
 31926.0,
 19833.0,
 35155.0,
 14961.0,
 33263.0,
 55711.0,
 25335.0,
 63955.0,
 12224.0,
 26482.0,
 25851.0,
 9504.0,
 52754.0,
 22152.0,
 14533.0,
 26006.0,
 19710.0,
 8057.0,
 11872.0,
 25535.0,
 28504.0,
 14682.0,
 19216.0,
 29320.0,
 15130.0,
 17529.0,
 29979.0,
 52861.0,
 8660.0,
 9480.0,
 7280.0,
 24234.0,
 18798.0,
 18712.0,
 8139.0,
 31796.0,
 13415.0,
 26156.0,
 37938.0,
 28265.0,
 18359.0,
 26886.0,
 33244.0,
 8348.0,
 25246.0,
 18640.0,
 7912.0,
 25557.0,
 29066.0,
 3210.0,
 4277.0,
 38317.0,
 14505.0,
 21202.0,
 88187.0,
 13669.0,
 37071.0,
 42230.0,
 9414.0,
 35044.0,
 15404.0,
 21936.0,
 19814.0,
 15097.0,
 36523.0,
 36426.0,
 22192.0,
 62071.0,
 30022.0,
 11995.0,
 24977.0,
 46592.0,
 42819.0,
 13825.0,
 18304.0,
 24481.0,
 14655.0,
 9260.0,
 22109.0,
 38153.0,
 9839.0,
 21743.0,
 23847.0,
 5773.0,
 38413.0,
 14332.0,
 24887.0,
 23934.0,
 10745.0,
 30679.0,
 20670.0,
 21764.0,
 48170.0,
 22549.0,
 12127.0,
 9123.0,
 29406.0,
 13753.0,
 20652.0,
 10914.0,
 14942.0,
 22843.0,
 48194.0,
 30585.0,
 11181.0,
 18483.0,
 14093.0,
 29328.0,
 28603.0,
 44725.0,
 12529.0,
 13200.0,
 30750.0,
 22144.0,
 21085.0,
 14622.0,
 22369.0,
 23044.0,
 9278.0,
 8774.0,
 17213.0,
 19275.0,
 65436.0,
 24054.0,
 33569.0,
 20081.0,
 16348.0,
 7986.0,
 11313.0,
 13188.0,
 11587.0,
 135303.0,
 10785.0,
 17492.0,
 8211.0,
 8457.0,
 24612.0,
 10842.0,
 25489.0,
 3635.0,
 24865.0,
 5755.0,
 16836.0,
 30083.0,
 32294.0,
 26418.0,
 7830.0,
 5849.0,
 16281.0,
 24654.0,
 23725.0,
 18992.0,
 20522.0,
 14077.0,
 13544.0,
 35098.0,
 31144.0,
 21109.0,
 18312.0,
 5834.0,
 17360.0,
 12671.0,
 22077.0,
 18418.0,
 11387.0,
 12767.0,
 13747.0,
 31992.0,
 8807.0,
 14620.0,
 18602.0,
 32529.0,
 26517.0,
 6181.0,
 7444.0,
 18172.0,
 12184.0,
 7908.0,
 30031.0,
 15727.0,
 59838.0,
 25979.0,
 39564.0,
 27842.0,
 13471.0,
 18685.0,
 9456.0,
 42832.0,
 37334.0,
 16109.0,
 8285.0,
 8364.0,
 20430.0,
 15323.0,
 14774.0,
 23972.0,
 35043.0,
 43682.0,
 67282.0,
 16026.0,
 13866.0,
 30540.0,
 56427.0,
 16353.0,
 13918.0,
 6897.0,
 48174.0,
 25711.0,
 24317.0,
 49276.0,
 18818.0,
 21830.0,
 18126.0,
 31456.0,
 36188.0,
 31494.0,
 70670.0,
 32075.0,
 14201.0,
 53038.0,
 25749.0,
 53801.0,
 7750.0,
 22987.0,
 35727.0,
 9790.0,
 18493.0,
 19434.0,
 11117.0,
 20982.0,
 31777.0,
 16147.0,
 30363.0,
 9547.0,
 23483.0,
 31541.0,
 26398.0,
 21704.0,
 21087.0,
 29415.0,
 14245.0,
 22048.0,
 54755.0,
 22207.0,
 17268.0,
 26394.0,
 22760.0,
 22073.0,
 34280.0,
 29784.0,
 13250.0,
 13980.0,
 20007.0,
 28632.0,
 13824.0,
 12054.0,
 33458.0,
 21809.0,
 19322.0,
 18194.0,
 17898.0,
 11867.0,
 22946.0,
 25626.0,
 26854.0,
 11951.0,
 15027.0,
 11424.0,
 20663.0,
 21425.0,
 10330.0,
 34493.0,
 18633.0,
 29280.0,
 25217.0,
 49652.0,
 18634.0,
 21262.0,
 24709.0,
 25639.0,
 30781.0,
 21168.0,
 34886.0,
 25531.0,
 21004.0,
 19467.0,
 13911.0,
 18845.0,
 19960.0,
 35211.0,
 28221.0,
 21004.0,
 23322.0,
 14723.0,
 23433.0,
 22139.0,
 25769.0,
 25816.0,
 14100.0,
 13565.0,
 28503.0,
 22388.0,
 14490.0,
 21028.0,
 11933.0,
 14192.0,
 21157.0,
 20374.0,
 18036.0,
 18610.0,
 26599.0,
 19859.0,
 14983.0,
 17521.0,
 31191.0,
 24280.0,
 28715.0,
 18812.0,
 28143.0,
 15559.0,
 28530.0,
 18991.0,
 25636.0,
 23823.0,
 28340.0,
 25436.0,
 6763.0,
 22343.0,
 24452.0,
 21745.0,
 15643.0,
 18557.0,
 34077.0,
 24119.0,
 20577.0,
 9457.0,
 19193.0,
 22121.0,
 15625.0,
 11798.0,
 37220.0,
 10525.0,
 14436.0,
 6876.0,
 18483.0,
 13802.0,
 17790.0,
 11889.0,
 11748.0,
 16952.0,
 4140.0,
 38865.0,
 11969.0,
 23034.0,
 17815.0,
 16981.0,
 16722.0,
 36633.0,
 20695.0,
 7830.0,
 13494.0,
 19126.0,
 15714.0,
 17552.0,
 19706.0,
 35026.0,
 20680.0,
 10391.0,
 23265.0,
 12719.0,
 35608.0,
 16975.0,
 17083.0,
 18233.0,
 32311.0,
 13202.0,
 20963.0,
 15379.0,
 12629.0,
 12462.0,
 21676.0,
 15747.0,
 30966.0,
 17507.0,
 26615.0,
 11463.0,
 9302.0,
 12636.0,
 10769.0,
 31906.0,
 10226.0,
 23846.0,
 14356.0,
 17187.0,
 24421.0,
 21519.0,
 24041.0,
 12317.0,
 22020.0,
 17171.0,
 17631.0,
 18108.0,
 24403.0,
 20707.0,
 14588.0,
 21144.0,
 9664.0,
 30194.0,
 21156.0,
 17566.0,
 10058.0,
 27485.0,
 14683.0,
 18522.0,
 36862.0,
 11939.0,
 10983.0,
 16998.0,
 23886.0,
 41018.0,
 17993.0,
 27275.0,
 18250.0,
 22444.0,
 11592.0,
 37827.0,
 23448.0,
 27713.0,
 27742.0,
 20751.0,
 27107.0,
 26762.0,
 32485.0,
 29929.0,
 24392.0,
 32662.0,
 24164.0,
 28255.0,
 23222.0,
 27874.0,
 18882.0,
 29798.0,
 18473.0,
 23222.0,
 27358.0,
 28631.0,
 13757.0,
 15129.0,
 19294.0,
 20532.0,
 25437.0,
 19471.0,
 28929.0,
 25478.0,
 23472.0,
 44151.0,
 31289.0,
 31184.0,
 37847.0,
 24878.0,
 35601.0,
 33763.0,
 29990.0,
 34689.0,
 21396.0,
 27934.0,
 34044.0,
 33623.0,
 29716.0,
 17764.0,
 21118.0,
 20501.0,
 22300.0,
 25116.0,
 25295.0,
 27897.0,
 16689.0,
 21037.0,
 25651.0,
 16715.0,
 18365.0,
 23028.0,
 21005.0,
 18797.0,
 25693.0,
 28280.0,
 24473.0,
 38461.0,
 18090.0,
 25164.0,
 21913.0,
 22549.0,
 19190.0,
 29897.0,
 35071.0,
 26777.0,
 30144.0,
 20488.0,
 27817.0,
 27266.0,
 35294.0,
 34291.0,
 25262.0,
 24227.0,
 20570.0,
 30609.0,
 21752.0,
 34625.0,
 24557.0,
 15202.0,
 15606.0,
 14547.0,
 27258.0,
 16825.0,
 35091.0,
 34020.0,
 23967.0,
 42399.0,
 26445.0,
 36413.0,
 6311.0,
 9240.0,
 7353.0,
 13998.0,
 13477.0,
 8823.0,
 23033.0,
 12049.0,
 25208.0,
 19553.0,
 11766.0,
 32272.0,
 30642.0,
 9935.0,
 11985.0,
 10299.0,
 26564.0,
 11649.0,
 9648.0,
 17860.0,
 11081.0,
 20867.0,
 7118.0,
 29763.0,
 13744.0,
 10160.0,
 11429.0,
 34141.0,
 21968.0,
 11090.0,
 9820.0,
 26883.0,
 17573.0,
 42712.0,
 49403.0,
 55546.0,
 30865.0,
 46910.0,
 12189.0,
 12744.0,
 64618.0,
 20717.0,
 6910.0,
 8974.0,
 12636.0,
 13938.0,
 37438.0,
 10770.0,
 22561.0,
 10183.0,
 26933.0,
 5145.0,
 14912.0,
 7839.0,
 38734.0,
 17401.0,
 13113.0,
 14297.0,
 20250.0,
 34203.0,
 8987.0,
 16464.0,
 6860.0,
 12084.0,
 38984.0,
 32110.0,
 7363.0,
 17965.0,
 13088.0,
 9785.0,
 14402.0,
 12286.0,
 28602.0,
 13342.0,
 8655.0,
 26797.0,
 22173.0,
 13448.0,
 16651.0,
 20252.0,
 9833.0,
 11546.0,
 16321.0,
 15189.0,
 11954.0,
 31488.0,
 9418.0,
 40522.0,
 7762.0,
 45964.0,
 42166.0,
 15963.0,
 17231.0,
 54262.0,
 69198.0,
 14664.0,
 51936.0,
 14408.0,
 10444.0,
 29956.0,
 16469.0,
 42385.0,
 13044.0,
 13746.0,
 1435.0,
 10745.0,
 14004.0,
 8585.0,
 12331.0,
 16199.0,
 11045.0,
 2135.0,
 16046.0,
 57609.0,
 2805.0,
 8321.0,
 4496.0,
 3792.0,
 9784.0,
 10259.0,
 13612.0,
 16317.0,
 20185.0,
 19183.0,
 19381.0,
 4621.0,
 4679.0,
 8424.0,
 24781.0,
 4500.0,
 8288.0,
 5358.0,
 14013.0,
 8200.0,
 19091.0,
 10456.0,
 8679.0,
 6181.0,
 205134.0,
 9280.0,
 37354.0,
 14491.0,
 31791.0,
 11721.0,
 10859.0,
 3024.0,
 16697.0,
 11813.0,
 10562.0,
 7062.0,
 12680.0,
 14411.0,
 7157.0,
 5260.0,
 ...]

In [9]:
df['y17_M041_valueNumeric'].name

'y17_M041_valueNumeric'

In [102]:
b=df[df['y17_M041_valueNumeric']==a]
b

ValueError: Lengths must match to compare

In [85]:
df_dropped = df['y17_M041_valueNumeric'].dropna()
df_dropped

0        21478.0
1        20586.0
2        13758.0
3        12182.0
4        14584.0
          ...
3075     27047.0
3076    121272.0
3077     15299.0
3078     25735.0
3079     15223.0
Name: y17_M041_valueNumeric, Length: 3037, dtype: float64

In [34]:
x_train, x_test, y_train, y_test = train_test_split(features, df_dropped)

ValueError: At least one array required as input

In [78]:
def groupIDs(df):
    all_parts = []
    for i in df['MapID']:
        parts = []
        for x in df.columns:
            if (i in x): #column contains mapid string
                parts.append(x)
        all_parts.append(picker(pd.DataFrame(parts))) #chosen filled column returned as series
    return pd.DataFrame(all_parts).T


#takes a df of columns to compare data
#returns a single column with the best value from the columns
def picker(df):
    if (df.shape[0] >= 4):
        df = df.T
    for c in df.column :
        best_val = None
        for i in c:
            if (type(i) == int or type(i) == float):
                best_val = i
                break;
                
def turnintoint(z): # element 
    if z.isalpha(): #case where entire x is str
        return np.nan
    elif ('less than' or 'greater than' in z):
        parts = z.split(' ')
        return int(z[-1]) - 1
    elif ('-' in z):
        parts = z.split(" ")
        return (int(parts[0]) + int(parts[-1])) // 2
    else :
        return float(z)

In [66]:
df.columns

Index(['FIPS', 'FIPSTEXT', 'y17_M123_valueText', 'y17_M123_classRange',
       'y17_M123_valueNumeric', 'y17_M124_valueText', 'y17_M124_classRange',
       'y17_M124_valueNumeric', 'y17_M125_valueText', 'y17_M125_classRange',
       ...
       'y17_M073_valueNumeric', 'y17_M074_valueText', 'y17_M074_classRange',
       'y17_M074_valueNumeric', 'y17_M075_valueText', 'y17_M075_classRange',
       'y17_M075_valueNumeric', 'y17_M202_valueText', 'y17_M202_classRange',
       'y17_M202_valueNumeric'],
      dtype='object', length=388)

In [67]:
df.y17_M123_classRange.unique() #apply(lambda x: turnintoint(x))

array([nan, 'Less than 5', '5 - 19', '20 - 39', '40 - 69', '90 or more',
       '70 - 89'], dtype=object)

In [79]:
df.y17_M123_classRange.apply(lambda x: turnintoint(str(x)))

ValueError: invalid literal for int() with base 10: 'e'

In [62]:
list1=[]
for c in df.columns:
    #append((lambda x: turnintoint(x),list(df[c]))))
    df[c] = df[c].apply(lambda x: turnintoint(x))

AttributeError: ("'Series' object has no attribute 'isalpha'", 'occurred at index FIPS')

In [12]:

a = ['str', 'str1', 'str2']

SyntaxError: invalid syntax (<ipython-input-12-b2f5e9ade7b4>, line 2)

In [52]:
b = ['123', '23']
b[-1].isalpha()

#b.isalpha() #returns false if number in

False

In [59]:
'osegnq29u83y59'.isalpha()

False

In [55]:
# df[].sum()