In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import time
import os
import glob
import re

In [2]:
actuals = pd.read_csv('kc_house_data_test_target.csv'  )

In [10]:
actuals.describe()

        Unnamed: 0            id         price
count  4323.000000  4.323000e+03  4.323000e+03
mean   2161.000000  4.625409e+09  5.674476e+05
std    1248.086936  2.920359e+09  3.706359e+05
min       0.000000  3.600072e+06  8.300000e+04
25%    1080.500000  2.125735e+09  3.450000e+05
50%    2161.000000  3.834001e+09  4.750000e+05
75%    3241.500000  7.504001e+09  6.700000e+05
max    4322.000000  9.895000e+09  3.800000e+06

In [3]:
actuals.shape

(4323, 3)

In [4]:
path = '/Users/swilson5/Documents/DSC/ds-010620/nyc-mhtn-ds-010620-lectures/week-6/KC_house_data/answers'
extension = 'csv'

In [5]:

# create a list of all file names
# starting with testlabels_ from the file



os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

['housing_preds_WL.csv', 'housing_preds_gmf.csv', 'housing_preds_BH.csv', 'housing_preds_ga.csv', 'newprediction_sailaja.csv', 'housing_preds_MER.csv', 'housing_preds_jns.csv', 'test_predictions_ch.csv', 'housing_preds_DK.csv', 'prediction_values_HC .csv', 'housing_preds_RL.csv', 'housing_predictions_slm.csv', 'housing_preds_HS1.csv', 'Fhousing_preds_OH.csv', 'housing_preds_MMA.csv', 'housing_preds_jab6.csv', 'housing_preds_TOH.csv']

In [6]:
#create dictionary to store results
results = {}

In [7]:
for file in files:
    name = file.split("_")[-1].split(".")[0]
    print(name)
    guesses = pd.read_csv(file, header=None )
    # guesses.sort_index(inplace=True)

    if guesses.shape[0] != 4323:
        print(name, "not the correct size", guesses.shape[0]  )
        continue
    mse = metrics.mean_squared_error(actuals['price'],guesses)
    rmse = np.sqrt(mse)
    results[name]= [mse, rmse]

WL
gmf
BH
ga
sailaja
MER
jns
ch
DK
HC
RL
slm
HS1
OH
MMA
jab6
TOH

In [8]:

sorted_results = sorted(results.items(), key=lambda x: x[1][0], reverse=True)

In [9]:


print('Now printing the results with in ascending order')

for k,v in sorted_results:
    print(v[1])
    print('{} achieved an RMSE of {} \n'.format(
          k.upper(), v[1]))

    time.sleep(2)

Now printing the results with in ascending order
4624154729.43496
OH achieved an RMSE of 4624154729.43496

277296.95295782556
HS1 achieved an RMSE of 277296.95295782556

254314.89805541537
GA achieved an RMSE of 254314.89805541537

248619.70587625346
JAB6 achieved an RMSE of 248619.70587625346

245901.41179956225
CH achieved an RMSE of 245901.41179956225

223364.55622243427
HC  achieved an RMSE of 223364.55622243427

221352.34338300177
SAILAJA achieved an RMSE of 221352.34338300177

217443.37794190628
MER achieved an RMSE of 217443.37794190628

212251.88900411825
SLM achieved an RMSE of 212251.88900411825

210475.4498277611
TOH achieved an RMSE of 210475.4498277611

204754.47743023848
MMA achieved an RMSE of 204754.47743023848

202791.32492218193
JNS achieved an RMSE of 202791.32492218193

202057.41411996848
GMF achieved an RMSE of 202057.41411996848

176181.33858407763
WL achieved an RMSE of 176181.33858407763

175268.07615273612
BH achieved an RMSE of 175268.07615273612

158971.85035742042
RL achieved an RMSE of 158971.85035742042

150727.4185643987
DK achieved an RMSE of 150727.4185643987